body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-height: 100vh;
  max-width: 100vw;
}

.text-white {
  color: white;
}

.bg-primary {
  background-color: #3f51b5;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
